{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>Jobs Page</title>
  <link rel="stylesheet" href="{% static 'Styles/navigation-bar-Style.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="icon" type="image/x-icon" href="{% static 'Images/logo.jpg' %}" />
  <link rel="stylesheet" href="{% static 'Styles/Job_list.css' %}" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
</head>

<body>
  <ul class="navigationBar">
    <li class="itemInNavigationBar active">
      <a id="Home" href="jobslist">Home</a>
    </li>
    <li class="itemInNavigationBar">
      <a href="about-us">About us</a>
    </li>
    <li class="itemInNavigationBar">
      <a href="contact-us">Contact us</a>
    </li>
    <li class="itemInNavigationBar">
      <a id="my_job" href="applied-jobs">My jobs</a>
    </li>
    <li class="itemInNavigationBar">
      <a id="LogOut" href="login">LogOut</a>
    </li>
    <li>
      <div class="searchBar">
        <button class="searchIcon" type="submit" onclick="search()">
          <i class="fa fa-search"></i>
        </button>
        <input class="searchTxt" type="text" placeholder="Search for position or skill" />
      </div>
    </li>
  </ul>

  <main>
    <h1 class="headingMargin">Available Jobs list</h1>

    <a href="add_job">
      <button class="my_button" style="font-size: larger">
        <span></span>Add new job
      </button>
    </a>

    <hr />

    <h2>Select a job to view its details:</h2>
    <ol id="lista" class="O"></ol>
  </main>
  <script src="{% static 'scripts/admin_HomePage.js' %} "></script>
  <script src=" {% static 'scripts/adminORuser.js' %}"></script>
</body>

</html>