{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Job Application Form</title>
  <link rel="stylesheet" href="{% static 'Styles\apply.css' %}" />
  <link rel="stylesheet" href="{% static 'Styles/navigation-bar-Style.css' %}" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="icon" type="image/x-icon" href="{% static 'Images/logo.jpg' %}" />
</head>

<body>
  <script src="{% static 'scripts/adminORuser.js' %} "></script>
  <ul class="navigationBar">
    <li class="itemInNavigationBar">
      <a id="Home" href="jobslist">Home</a>
    </li>
    <li class="itemInNavigationBar">
      <a href="about-us">About us</a>
    </li>
    <li class="itemInNavigationBar">
      <a href="contact-us">Contact us</a>
    </li>
    <li class="itemInNavigationBar active">
      <a id="my_job" href="applied-jobs">My jobs</a>
    </li>
    <li class="itemInNavigationBar">
      <a id="LogOut" href="login">LogOut</a>
    </li>
    <li>
      <div class="searchBar">
        <button class="searchIcon" type="submit" onclick="search()">
          <i class="fa fa-search"></i>
        </button>
        <input class="searchTxt" type="text" placeholder="Search for position or skill" />
      </div>
    </li>
  </ul>

  <h2 class="headingMargin">Job Application Form</h2>
  <hr />
  <br />
    {% csrf_token %}

    <div>
      <label for="first_name">First Name:</label>
      <input id="firstname" type="text" name="first_name" required />
    </div>

    <br />
    <div>
      <label for="last_name">Last Name:</label>
      <input id="lastname" type="text" name="last_name" required />
    </div>
    <br />
    <div>
      <label for="address">Address:</label>
      <input id="add" type="text" name="address" required />
    </div>
    <br />
    <div>
      <label for="phone">Phone Number:</label>
      <input id="telephone" type="tel" name="phone" required />
    </div>
    <br />
    <div>
      <label for="email">Email:</label>
      <input id="Em" type="email" name="email" required />
    </div>
    <br />
    <div>
      <button type="button" id="Submit" onclick="SubmitForm()">
        Submit Application
      </button>
    </div>
    <br />

  <script src="{% static 'scripts/apply.js' %}"></script>
</body>

</html>